{% extends "layout.html" %}

{% block title %}Baking Tools{% endblock %}

{% block body %}
    <h2>Baking Tools Reference</h2>
    <p>I hate it when a recipe gives me an oven temperature I don't understand or I need to work out how many ml are in a teaspoon.<br>This page answers those questions with some handy reference tables.</p>
    <div class="row">
        <table class="table table-striped table-sm table-center col-6">
            <thead>
                <tr>
                    <th scope="col">&deg;C</th>
                    <th scope="col">&deg;F</th>
                    <th scope="col">Gas Mark</th>
                    <th scope="col">Fan Oven (&deg;C)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>110&deg;</td>
                    <td>225&deg;</td>
                    <td>1/4</td>
                    <td>90&deg;</td>
                </tr>
                <tr>
                    <td>120&deg;</td>
                    <td>250&deg;</td>
                    <td>1/2</td>
                    <td>100&deg;</td>
                </tr>
                <tr>
                    <td>140&deg;</td>
                    <td>275&deg;</td>
                    <td>1</td>
                    <td>120&deg;</td>
                </tr>
                <tr>
                    <td>150&deg;</td>
                    <td>300&deg;</td>
                    <td>2</td>
                    <td>130&deg;</td>
                </tr>
                <tr>
                    <td>160&deg;</td>
                    <td>325&deg;</td>
                    <td>3</td>
                    <td>140&deg;</td>
                </tr>
                <tr>
                    <td>180&deg;</td>
                    <td>350&deg;</td>
                    <td>4</td>
                    <td>160&deg;</td>
                </tr>
                <tr>
                    <td>190&deg;</td>
                    <td>375&deg;</td>
                    <td>5</td>
                    <td>170&deg;</td>
                </tr>
                <tr>
                    <td>200&deg;</td>
                    <td>400&deg;</td>
                    <td>6</td>
                    <td>180&deg;</td>
                </tr>
                <tr>
                    <td>220&deg;</td>
                    <td>425&deg;</td>
                    <td>7</td>
                    <td>200&deg;</td>
                </tr>
                <tr>
                    <td>230&deg;</td>
                    <td>450&deg;</td>
                    <td>8</td>
                    <td>210&deg;</td>
                </tr>
                <tr>
                    <td>240&deg;</td>
                    <td>475&deg;</td>
                    <td>9</td>
                    <td>220&deg;</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped table-sm table-center col-5">
            <thead>
                <tr>
                    <th colspan="3" scope="colgroup">Approximate Volume Measures</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>60 Drops</td>
                    <td>1 Teaspoon</td>
                    <td>5 mls</td>
                </tr>
                <tr>
                    <td>16 Dashes</td>
                    <td>1 Teaspoon</td>
                    <td>5 mls</td>
                </tr>
                <tr>
                    <td>8 Pinches</td>
                    <td>1 Teaspoon</td>
                    <td>5 mls</td>
                </tr>
                <tr>
                    <td>1 &frac12; Teaspoon</td>
                    <td>&frac12; Tablesppon</td>
                    <td>7.5 mls</td>
                </tr>
                <tr>
                    <td>3 Teaspoons</td>
                    <td>1 Tablespoon</td>
                    <td>15 mls</td>
                </tr>
                <tr>
                    <td>2 Tablespoons</td>
                    <td>1 Fluid Ounce</td>
                    <td>30 mls</td>
                </tr>
                <tr>
                    <td>4 Tablespoons</td>
                    <td>&frac14; Cup</td>
                    <td>60 mls</td>
                </tr>
                <tr>
                    <td>4 Fluid Ounces</td>
                    <td>&frac12; Cup</td>
                    <td>120 mls</td>
                </tr>
                <tr>
                    <td>8 Fluid Ounces</td>
                    <td>1 Cup</td>
                    <td>240 mls</td>
                </tr>
                <tr>
                    <td>2 Cups</td>
                    <td>1 Pint</td>
                    <td>475 mls</td>
                </tr>
                <tr>
                    <td>4 Cups</td>
                    <td>1 Quart</td>
                    <td>950 mls</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}